<!DOCTYPE html>
<!--//
This web page has been developed by Wani.
 - me@wani.kr
 - http://wani.kr
-->
<html lang="ko">
<head>
    <title>Publ</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/admin-lte/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />

    {block styles}{/block}

</head>
<body {block body-attributes}{/block}>
{block content}{/block}

{block scripts}{/block}
</body>
</html>
